body{
	background-color: #d9efef;
	font-family: 'Assistant', sans-serif;
	color: #633a82;
}

.recipe-divider{
	border-color: #72b5b7;
    border-style: dotted none none;
    border-width: 15px;
    width: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.top-button {
	position: relative;
    left: 90%;
	margin-right: 2rem;
	background-color:#40e0d0;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	padding:16px 31px;
	color:#ffffff;
	font-size:17px;
	text-decoration:none;
	text-shadow:0px 1px 0px #40e0d0;
}
.top-button:hover {
	background-color:#72b5b7;
	color: #633a82;
	transform: translateY(-10px);
	transition: all ease 0.3s;
}
.top-button:active {
	position:relative;
	top:1px;
}
/*footer CSS*/
footer{
	width: 100%;
	background-color: #72b5b7;
	color: #f1fcfc;
	margin-top:4%;
	position: relative;
/*	transform: translate(-50%,-50%);*/
	bottom: -2rem;
	padding:0.6rem 1rem 2rem;
}
.copyright{
	font-family: 'Handlee', cursive;
	text-align: center;
	font-size: 1.2rem;

}
/*nav-bar CSS*/

.nav-bar{
	width: 100%;
	margin-left: -1em;
	border-bottom: 10px #72b5b7 double;
	padding: 1rem 1.5rem;
	display: flex;
}

.icon{
	width: 350px;
	position: relative;
	left: 105px;
}
.icon img{
	max-width: 100%;
}
.nav-bar ul{
	width: 75%;
	
	font-family: 'Handlee', cursive;
	font-size: 1.5rem;
	display: flex;
	justify-content: flex-end;
	
}
.nav-bar ul li{
	list-style: none;
	margin: 1rem 1.5rem;
}
.nav-bar ul li a:hover{
	color: #633a82;
	cursor: pointer;
	transition: all 0.8s ease;
}
.page-title{
	font-family: 'Sacramento', cursive;
	font-weight: 900;
	font-size: 4rem;
}
.nav-bar a{
	text-decoration: none;
	color: #72b5b7;
}

/* Recipe CSS */
.recipe{
	padding:5rem;
	position: relative;
	margin: 2rem 3rem 6rem;
}

.dish-title{
	font-family: 'Handlee', cursive;
	text-align: left;
	font-size: 3rem;
	font-weight: 800;
	padding: 1rem 2rem 1rem 0rem;
	width: 40%;
	border-bottom: 9px dotted #72B5B7;
}
.wrap{
	width: 500px;
	position: relative;
	top: -60px;
	left: 65%
}
#slideshow-frame{
	width: 490px;
	height: 700px;
	position: relative;
	overflow: hidden;
	margin: 2px auto;

}
.slideshow-images{
	width: 5000px;

}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding: 10px;
	font-weight: bold;
	font-size: 2rem;
	user-select: none;
	background-repeat:no-repeat;
	overflow: visible;
	color: #f1fcfc;
}
.prev{
	left: 0;
	border-radius: 0px 10px 10px 0px;
}
.next {
	right: 0;
	border-radius: 10px 0px 0px 10px;
}
.prev:hover, .next:hover {
	background-color: #40e0d0;
	color: white;
	transition: 0.4s ease;
}
.ingredients-list, .steps-list{
	position: absolute;
	left: 5%;
	max-width: 45%;
	transform: translateX(-50%,-50%);
}
.ingredients-list{
	top: 25%;
}
.steps-list{
	top: 50%;

}
@media (max-width: 1270px) {
	.nav-bar ul{
		display: none;

	}
	.icon{
		width: 70%;
		margin: 1rem auto;
	}

	.dish-title{
		text-align: center;
		font-size: 3.5rem;
		width: 95%;
		margin: 2rem auto;
	}
	.recipe, .wrap, #slideshow-images{
		position: static;
	}
	.wrap{
		width: 50%;
		margin: 20px auto 50px;
		top: 0%;
    	left: 0%;
    	transform: translate(0%,0%);
	}

	.ingredients-list, .steps-list{
		position: static;
		margin: 20px auto;
		max-width: 100%;
	}
	.top-button{
		transform: translateY(-80%);
		margin-bottom: 2rem;
	}
	.copyright{
		width: 70%;
    	margin: 20px auto;
    	font-family: 'Handlee', cursive;
    	text-align: center;
    	font-size: 1.6rem;
	}
}