
:root {
	--color-neutral-dark: #595959;
	--color-neutral-medium: #c2c2c2;
	--color-neutral-light: #eee;

	--color-main-dark: #ffd14b;
    --color-main-medium: #fdd94f;
    --color-main-light: #fef4c3;
}

body {
	background-color: #fff;
	font-family: 'Roboto', 'Open Sans', 'Segoe UI', sans-serif;
	letter-spacing: 0.025em;
	line-height: 1.5em;
}

h1 {
	font-family: 'Elsie', cursive;
	font-size: 2em;
	color: var(--color-neutral-dark);
	margin-top: 2em;
}

h2 {
	font-family: 'Elsie', cursive;
	font-size: 1.25em;
	color: var(--color-neutral-dark);
	margin-top: 2em;
}

h3 {
	color: var(--color-neutral-dark);
	letter-spacing: 0.025em;
}

h4 {
	font-size: 1.25em;
	letter-spacing: 0.05em;
	margin: 0;
}

h5 {
	font-size: 1.15em;
	color: var(--color-neutral-dark);
	letter-spacing: 0.025em;
	margin: 0;
}

h6 {
	display: inline;
	font-size: 1em;
	font-weight: 500;
	margin: 0;
	color: var(--color-neutral-dark);
}

hr {
	margin-top: 2em;
	margin-bottom: 1.5em;
}

/* Navbar */

.store-header {
	margin: 1.5rem auto 0;
}

.store-header .row .logo {
	width: 15%;
}

/*.store-header .row .logo {
	position: relative;
	text-align: center;
	margin: 1.25rem auto 0;
	width: 15%;
}*/

.logo img {
	width: 100%;
	height: auto;
}

.store-header .row .ctas {
	position: absolute;
	right: 20px;
	margin: 1rem auto 0;
}

.store-header .row .ctas li {
	vertical-align: middle;
	display: inline-block;
	padding: 5px 0 0 20px;
}

.store-header nav ul > li:hover {
	cursor: pointer;
	/*border-bottom: 3px solid var(--color-main-medium);*/
}


/* Footer */

.store-footer a {
	font-weight: 300;
}

/* Component Classes */

.featured-items button {
	display: block;
	margin: 2rem auto 4rem;
}

.products-header {
	margin: 4rem auto 2rem;
}

.products-header h1 {
	margin: 0 auto;
}

/*Bag Classes*/

.bag-item>ul>li {
	padding: 2em 5em;
	padding-left: 0;
}

.bag-item>ul>li:first-child {
	padding-top: 0;
	margin-right: 2em;
}

.bag-item>ul>li:nth-child(2) {
	min-width: 40%;
}

.bag-item>ul>li:last-child {
	padding-right: 0;
}

.bag-item-delete button {
	-webkit-appearance: none;
    border: none;
    outline: 0;
    cursor: pointer;
}

.bag-totals {
	width: 40%;
	height: 20vh;
	float: right;
	margin-right: 20%;
}

.bag-item-totals-table td {
	text-align: right;
}

.checkout-button {
	clear: both;
	float: right;
	width: 50%;
}


/* Checkout Classes */

.back-link {
	color: var(--color-neutral-dark);
	padding: 1rem;
}

.back-link a:hover {
	opacity: 50%;
}

.small-link a {
	font-weight: 300;
	font-size: 0.8em;
}

.bag-container {
	background-color: var(--color-neutral-light);
	padding: 1em;
	min-height: 100%;
}

/*.bag-item ul {
	padding-left: 1em;
}*/

.checkout-bag-item {
	font-size: 0.9em;
	padding-bottom: 0.5em;
}

.bag-item-info {
	padding: 0 1.25em;
}

.bag-item-info-table {
	bottom: 0.25em;
}

.bag-item-price {
	right: 1em;
}

.bag-subtotal-table td, .bag-total-table td {
	text-align: right;
	padding-right: 1em;
}

.bag-total-table h3 {
	display: inline;
}

.checkout .logo {
	position: relative;
	margin: 2rem 0 0;
	width: 15%;
}

.checkout-form>h5 {
	margin-top: 3rem;
}

.checkout-button {
	background-color: #fff;
	padding: 0.5em 1em;
	color: var(--color-neutral-dark);
	font: inherit;
	font-size: 1em;
	letter-spacing: 0.025em;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	outline: 0;
}

.checkout-row select {
	width: 100%;
}

.checkout-row {
	width: 70%;
}

.checkout-row div {
	padding-right: 2em;
    width: 100%;
}

.checkout-row>div:last-child {
	padding-top: 2.25em;
	padding-right: 0;
}

.checkout-row>div:last-child input {
	width: 100%;
}

.checkout-button.pay-now {
	clear: none;
	float: none;
	padding: 1em 0 10em;
    width: 30%;
}

/*Admin*/

.admin-form-table  tbody tr td:first-child {
	width: 10%;
}


.admin-form-label {
	display: inline;
	font: inherit;
	font-weight: 700;
	margin: 1em;
	color: var(--color-neutral-dark);
}

.admin-form-input {
	width: 50%;
	display: inline;
	font: inherit;
	border: 1px solid var(--color-neutral-medium);
    height: 2em;
    max-width: 100%;
    text-indent: 0.5em;
    outline: none;
}

.admin-form-input:focus {
	border-bottom: 1px solid var(--color-main-medium);
}

.user-name {
	font-size: 1.25em;
	font-weight: 700;
	color: var(--color-neutral-dark);
}

/*Product Details*/

.product-main img {
    width: 100%;
    height: auto%;
    object-fit: cover;
}

.product-thumbs {
	width: 85px;
}

.product-thumbs img {
    height: 100px;
    width: 75px;
    object-fit: cover;
}

.product-details {
	width: 95%;
	padding: 0 1.5em;
}

.product-details h1 {
	margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.product-name {
	font-weight: 700;
}

.product-description {
	line-height: var(--body-height);
}

/*Products Admin*/

.store-header.admin a:hover{
	color: var(--color-neutral-medium);
}

.itemlist-item {
	margin: 1em 0;
	padding: 1em;
	border: 1px solid var(--color-neutral-light);
	border-radius: 0.5em;
}

.itemlist-item .image {
	width: 3.75em;
	height: 5em;
}

.itemlist-item .image img {
	width: 100%;
	height: auto;
	object-fit: contain;
	object-position: center;
}

.itemlist-item .info {
	line-height: var(--body-height);
    padding-left: 1em;
}

.admin-edit div:first-child {
	margin-right: 2em;
}

.admin-edit div:last-child {
	margin-right: 1em;
}

.admin-edit a:hover {
	color: var(--color-neutral-medium);
}







