h1{
	font-family: 'Pacifico', cursive;
	text-align: center;
	color:#f2dbce;
	margin-top:4%;
	margin-left: 0%;
	font-size: 40px;
}
body{
background-image:url("img/background.png");
background-repeat: no-repeat;
background-size:cover;
width: 100%;
}
.column {
  width: 32%;
  padding: 5px;
  margin-top: 3%;
  margin-left: 2%;
}
.s{
	max-width: 35%;
}
.p{
	max-width: 70%;
}
.m{
	max-width: 55%;
}
.dish {
  display: flex;
}
.dropbtn {
	font-family: 'Pacifico', cursive;
	text-align: left;
	color:#f2dbce;
	font-size: 25px;
	margin-top: 0%;
	margin-left: 10%;
	border: none;
	text-align: center;
	background-color: #fc7783;
	border-radius: 50%;
	cursor: pointer;
}

.dropdown-content {
  position: absolute;
  color:#f2dbce;
  background-color: #555555;
  opacity: 0.8;
  max-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1px 16px;
  z-index: 1;
}
.dropdown-content a {
  color:#f2dbce;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
	background-color: #f1f1f1;
}
.dropbtn:hover {
	background-color: #4CAF50;
}
/*.dropbtn:hover .dropdown-content {*/
  display: block;
/*}*/
