/*ELEMENTS*/
*, *::before, *::after {
	box-sizing: border-box;
}
:root{
	--color-neutral-dark: #272b26;
    --color-neutral-medium: #7f877d;
    --color-neutral-light: #e6eae5;
}

body {
	margin:0;
	font-size: 100%;
	font-family: Helvetica,Arial,sans-serif;
}


h1,
h2,
h3,
h4,
h5,
h6{
	font-family: Georgia, "Times New Roman", serif;
}
a{
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}





/*SMALL CLASSES*/

.container {
	max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

/*COMPONENT CLASSES*/

.navbar{
background-color:var(--color-neutral-dark);
	color:var(--color-neutral-light);
	line-height: var(--header-height);
}
.navbar h1 {
	margin:0;
	font-size:1em;
}
/*ATOMIC CLASSES*/

.display-flex{
display: flex;
}
.display-inline-flex{
	display: inline-flex;
}
/* CARD */
.card {
	background-color:white;
	padding:1em;
	overflow:hidden;
	position:relative;
	margin-top: 1em;
	margin-bottom: 1em;
}