
:root {
    --color-neutral-dark: 000000;
    --color-neutral-medium: #879eb1;
    --color-neutral-light: ffffff;

    --header-height:3rem;
	}


body{
	background-color:var(--color-neutral-light);
}


[class*='col-']>.card{
	margin:0;
	height: 100%;
}