:root {
    --color-neutral-dark: #272b26;
    --color-neutral-medium: #7f877d;
    --color-neutral-light: #e6eae5;
    --color-neutral-medium-light: #c5cbc3;
}


body {
	background-color: #f7f6f6;
	padding-bottom:10em;
}



[class*='col-']>.card {
	margin:0;
	height:100%;
}

.form-select select,
.form-button {
	background-color:var(--color-neutral-medium-light);
}

.productlist {
	margin:1em 0;
}
.productlist a:hover {
	text-decoration:none;
}
.productlist .product-price {
	text-align:right;
}




/* FIGURE */
.product-figure {
	margin:0;
	height:100%;
}
.product-figure img {
	width:100%;
	max-height:30vh;
	object-fit:cover;
	vertical-align:text-bottom;
}
.product-figure figcaption {
	padding:1em;
	background-color:white;
}
	.product-figure.soft {
		border-radius:1em;
		overflow:hidden;
		box-shadow:0 2px 5px rgba(0,0,0,0.1);
	}
	.product-figure.overlay {
		position:relative;
		overflow:hidden;
		border-radius:1em;
	}
	.product-figure.overlay figcaption {
		position:absolute;
		top:0;
		left:0;
		width: 100%;
		height:100%;
		background-color:rgba(0,0,0,0.5);
		transition:all 0.3s;
		opacity:0;
	}
	.product-figure.overlay:hover figcaption {
		opacity:1;
	}
	.product-figure.overlay img {
		transition:all 0.3s;
		transform:scale(1,1);
	}
	.product-figure.overlay:hover img {
		transform:scale(1.4,1.4);
	}


.product-main img {
	width:100%;
	height:50vh;
	object-fit:cover;
}

.product-thumbs img {
	height:100px;
	width:100px;
	object-fit:cover;
}

.product-title {
	margin:0;
	font-size:2em;
}
.product-category {
	font-size:0.8em;
	color:var(--color-neutral-medium);
	margin-bottom:1rem;
}

.image-square img {
	width:5em;
	height:5em;
	object-fit:contain;
	object-position:center;
}


.itemlist {
	display:grid;
	grid-template-columns: repeat(auto-fit,minmax(300px, 1fr));
}
.itemlist-item {
	margin:1em;
	padding:1em;
	border: 1px solid var(--color-neutral-light);
	border-radius:0.5em;
}


.footer {
  width: 100%;
  height: auto;
  color: #ffffffff;
  background-color: #000000ff;
  text-align: center;
  font-size: 14px;
  margin-top: 200px;
  padding: 30px 30px 30px 30px;
  text-decoration: none;x
}




@media (max-width:1000px) {
	.navbar .display-flex {
		display:block;
	}
}