body {
  background-color: #F6F6F6;
  padding:0px;
  margin:0px;
  font-family: 'EB Garamond', serif;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("images/IMG_0855.JPG");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#headline1{
  position: absolute;
  top: 300px;
  left: 40px;
  color: #F6F6F6;
}

#headline2{
  position: absolute;
  top: 200px;
  left: 40px;
  color: #F6F6F6;
  font-size: 60px;
}

#headline3{
  position: absolute;
  top: 330px;
  left: 40px;
   color: #F6F6F6;
}

.content{
  color: white;
}

.content h1{
  position: absolute;
  top: 615px;
  left: 826px;
  color: #373d3f;
}

#sukiyaki{
  width: 350px;
  position: absolute;
  top: 675px;
  left: 810px;
  color:#373d3f;
}

#sukiyaki ol{
  font-size: 8px;
}

#rectangle{
  width: 1000px;
  height:600px;
  position: absolute;
  top: 580px;
  left: 210px;
  background-color: white;
}

#recipetwo{
  width: 450px;
  height:780px;
  position: absolute;
  top: 1250px;
  left: 210px;
  background-color: white;
}

#recipethree{
  width: 450px;
  height:780px;
  position: absolute;
  top: 1250px;
  left: 760px;
  background-color: white;
}

.wrapper{
  position: absolute;
  top:640px;
  left: 280px;
}

.big-image {
  width:400px;
  position:relative;
  margin-bottom:0.25em;
}
.big-image img {
  max-width:100%;
}
.thumb-images {
  position:relative;
  width:400px;
}
.thumbs {
  width:400px;
  overflow-x:auto;
  white-space:nowrap;
}
.thumb-images img {
  width:100px;
  box-sizing:border-box;
}
.thumb-images img.active {
  border:1px solid black;
}
.arrow {
  position:absolute;
  bottom:50%;
  transform:translateY(50%);
  color:white;
  font-size: 20px;
  font-weight: bold;
}

.arrow.right {
  right:0.5em;
}
.arrow.left {
  left:0.5em;
}
@media (max-width:500px) {
  .thumb-images .arrow {
    display:none;
  }
}

#imagetwo{
  width: 400px;
  height: 350px;
  overflow: hidden;
  position: absolute;
  top: 1280px;
  left: 235px;
}

#imagetwo img{
  max-width: 100%;
}

#dongpoone{

}

.contenttwo h1{
  position: absolute;
  top: 1575px;
  left: 235px;
  font-size: 20px;
}

#dongpoone{
  position: absolute;
  top: 1630px;
  left: 210px;
  font-size: 12px;
}

#dongpotwo{
  width: 250px;
  position: absolute;
  top: 1630px;
  left: 390px;
  font-size: 12px;
}

#imagethree{
  width: 400px;
  height: 350px;
  overflow: hidden;
  position: absolute;
  top: 1280px;
  left: 785px;
}

#imagethree img{
  max-width: 100%;
}

.contentthree h1{
  position: absolute;
  top: 1575px;
  left: 785px;
  font-size: 20px;
}

#noodlesone{
  position: absolute;
  top: 1630px;
  left: 765px;
  font-size: 12px;
}

#noodlestwo{
  width: 265px;
  position: absolute;
  top: 1630px;
  left: 930px;
  font-size: 12px;
}

footer{
  color: grey;
  font-size: 15px;
  position: absolute;
  top: 2050px;
 
}





/* slider */


